//Colors
$primary-color: #fec210;
$secondary-color: #277a7f;
$third-color: #c4c4c4;
$fourth-color: #ffffff;
$error-color: #ff0000;
$text-primary-color: #000000;
$text-secondary-color: #ffffff;
//Margins
$small-margin: 0.5rem;
$standard-margin: 1rem;
$big-margin: 1.5rem;
$very-big-margin: 2rem;
$extra-large-margin: 3rem;
//Padding
$small-padding: 0.5rem;
$standard-padding: 1rem;
$big-padding: 1.5rem;
$very-big-padding: 2rem;
$extra-large-padding: 3rem;
//Fonts
$small-font: 12px;
$standard-font: 14px;
$big-font: 18px;
$very-big-font: 26px;
